{% extends 'base.html' %}

{% block content %}
	<!-- Games section -->
	<section class="games-single-page">
		<div class="container">
			<div class="game-single-preview">
				<img src={{ display.images.show }} alt="#"/>
			</div>

			<div class="row">
				<form action="button">
    				<button action="{{ url_for('button', serie_id=serie_id) }}">Klik</button>
				<form>
				<div class="col-xl-9 col-lg-8 col-md-7 game-single-content">
					<div class="gs-meta">11.11.18</div>

						<h2 class="gs-title">{{ display.title }}</h2>
						<p>{{ display.description }}</p>
						<h5 style="color: white">Nombre de saisons : {{ display.seasons }}</h5>
						<h5 style="color: white">Nombre d'épisodes : {{ display.episodes }}</h5>
						{% for saison in saisons %}
				 <!-- Tab links -->
						<div class="tab">
						  <button class="tablinks" onclick="openSeason(event, 'saison {{saison.number}}')">Saison {{ saison.number }}</button>
						</div>


						<!-- Tab content -->

						<div id="saison {{ saison.number }}" class="tabcontent">
						<h4>Saison {{ saison.number }}</h4>
						<h6 style="color: white">Contient {{ saison.episodes }} episodes</h6>
						{% for episode in episodes %}
							{% if episode.season == saison.number %}
								<h5 style="color: white">Episode {{ episode.episode }} - {{ episode.title }}</h5>
								<p>{{ episode.description }}</p>
							{% endif %}
						{% endfor %}
						</div>
					{% endfor %}
				</div>

			<script>
				function openSeason(evt, seasonNumber) {
				  // Declare all variables
				  var i, tabcontent, tablinks;

				  // Get all elements with class="tabcontent" and hide them
				  tabcontent = document.getElementsByClassName("tabcontent");
				  for (i = 0; i < tabcontent.length; i++) {
					tabcontent[i].style.display = "none";
				  }

				  // Get all elements with class="tablinks" and remove the class "active"
				  tablinks = document.getElementsByClassName("tablinks");
				  for (i = 0; i < tablinks.length; i++) {
					tablinks[i].className = tablinks[i].className.replace(" active", "");
				  }

				  // Show the current tab, and add an "active" class to the button that opened the tab
				  document.getElementById(seasonNumber).style.display = "block";
				  evt.currentTarget.className += " active";
				}
			</script>

			</div>
		</div>
	</section>
	<!-- Games end-->

{% endblock %}