{% extends 'base.html' %}

{% block content %}
	<!-- Games section -->
	<section class="games-section">

		<div class="container text-white">
			<h1>Séries</h1>
		</div>

		<div class="container">
			<form  method="POST" action="" class="coord_gps"  name="coord" >
            	<label class="container text-white">Recherche: <input id = "search" type="text" name="search" value = ""></label>
        	</form>

			<ul class="game-filter">
				<li><a href="{{ url_for('series', starting=' ', page=1)}}">#</a></li>
				{% for lettre in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P',
				'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'] %}
					<li><a href="{{ url_for('series', starting=lettre, page=1)}}">{{lettre}}</a></li>
				{% endfor %}
			</ul>

			<div class="row">
					<div class="row">
						{% for post in posts %}
							<div class="col-lg-4 col-md-6">
								<div class="game-item">
									<a href="{{ url_for('serie', serie_id=post.id)}}" class="read-more">
										{% if post.images.show %}
											<img src={{ post.images.show }} alt="#"/>
										{% endif %}
									</a>

									<h5>{{ post.title }}</h5>
									<a href="{{ url_for('serie', serie_id=post.id)}}" class="read-more">Read More
										<img src="{{ url_for('static', filename='img/icons/double-arrow.png')}}" alt="#"/>
									</a>
                                    {% if current_user.is_anonymous %}
                                    <a href="{{ url_for('login') }}"><button name="button">Ajouter</button></a>
                                    {% else %}
									<form action="" method="post">
    									<button name="button" value="{{(post.id, post.title, post.images.show)}}">Ajouter</button>
									</form>
                                    {% endif %}
								</div>
							</div>
						{% endfor %}
					</div>

					<div class="site-pagination">
						{% if starting %}
						<a href="{{ url_for('series', starting=starting, page=1)}}">1.</a>
						{% if page > 2 %}
							<a style="color: white">...</a>
							<a href="{{ url_for('series', starting=starting, page=page-1)}}">{{page-1}}.</a>
							<a href="{{ url_for('series', starting=starting, page=page)}}">{{page}}.</a>
							<a href="{{ url_for('series', starting=starting, page=page+1)}}">{{page+1}}.</a>
							<a style="color: white">...</a>
						{% else %}
							<a href="{{ url_for('series', starting=starting, page=2)}}">2.</a>
							<a href="{{ url_for('series', starting=starting, page=3)}}">3.</a>
						{% endif %}
						{% endif %}
					</div>
			</div>
		</div>
	</section>
	<!-- Games end-->

{% endblock %}